{% extends 'account_base.html' %}

    {% block content1 %}
    <h3 class="Bienvenue" style="text-align:center">Saisissez un nouveau mot de passe</h3>
    {% endblock content1 %}

    {% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token%}
        {{form}}
        <p>
        <input type="submit" value="Valider" name = 'Update Password'> <a class="a_reset_password"  style="float:right" href="/accounts/login"> Login </a>
        </p>
    </form>

<style> /* manafina conseil be ao anaty formulaire creaation de nouveau mot de passe */
    .helptext ul {
    display : none
    }

</style>
    {% endblock content %}