{% extends "account_base.html" %}

{% block content1 %}
<h3 style="text-align:center" class="Bienvenue"> Mot de passe renouvelé </h3>
{% endblock content1 %}

{% block content %}
<p> Votre mot de passe a été renouvelé avec succes </p>
<p> <a class="a_reset_password"  style="float:right" href="/accounts/login"> Login </a></p><br>
<style>
    a {
  padding: 10px 20px;
  border: none;
  background-color: #17A2B8;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width:50%;
  text-align:center;
  float:left;

}
</style>
{% endblock content %}